/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
node_modules/
src/main/resources/view
src/main/resources/public/dist
src/main/resources/public/js
src/main/resources/public/css/
src/main/resources/public/template/entcore
rev-manifest.json
/.idea
cacerts
/src/main/resources/public/font/
coverage/
/package-lock.json
/yarn.lock

.env
target
dependency-reduced-pom.xml

# BACKEND
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
test-output
test-results
test-tmp
*.class
mods
*/mods
data
developer.id
/coverage/front/cobertura-coverage.xml
gradle/
gradlew*
package-lock.json

# Ignore the entire "resources" folder except jsonchema
/src/main/resources/public
/src/main/resources/img

