{
  "name": "fr.openent~swarm-connector~0.1-SNAPSHOT",
  "config": {
    "main" : "fr.openent.swarm.Swarm",
    "port" : 8046,
    "app-name" : "Swarm-connector",
    "app-address" : "/swarm",
    "app-icon" : "Swarm-logo-large",
    "host": "${host}",
    "ssl" : $ssl,
    "auto-redeploy": false,
    "userbook-host": "${host}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "${mode}",
    "entcore.port" : 8009
  }
}