{
  "name": "fr.openent~swarm-connector~${swarmConnectorVersion}",
  "config": {
    "main" : "fr.openent.swarm.Swarm",
    "port" : 8146,
    "app-name" : "Swarm-connector",
    "app-address" : "/swarm",
    "app-icon" : "swarm-large",
    "host": "${host}",
    "ssl" : $ssl,
    "auto-redeploy": false,
    "userbook-host": "${host}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "${mode}",
    "entcore.port" : 8009
  }
}